@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
  --dark-blue: #052439;
  --light-blue: #094074;
  --accent: #c89933;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-logo: 'Montserrat', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  font-weight: 400;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 600;
}

h1 {
  font-family: var(--font-logo);
  font-weight: 700;
}
